@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --primary-color:#F15A29;
  --secondary-color-1:#E6440F;
  --secondary-color-2:#FEF4F1;
  --black-color:#070707;
  --extrabold:700;
  --semibold:600;
}
*{
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  margin: 0;
}
/* From Uiverse.io by juan-sued */ 
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}

.center {
  position: absolute;
  width: 220px;
  height: 220px;
  top: 90px;
  left: 90px;
}

.dot-1 {
  position: absolute;
  z-index: 3;
  width: 30px;
  height: 30px;
  top: 95px;
  left: 95px;
  background: #fff;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-1 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-2 {
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: 80px;
  left: 80px;
  background: #F0BE00;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-2 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

.dot-3 {
  position: absolute;
  z-index: 1;
  width: 90px;
  height: 90px;
  top: 65px;
  left: 65px;
  background: #D33100;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
  animation: jump-jump-3 2s cubic-bezier(0.21, 0.98, 0.6, 0.99) infinite alternate;
}

@keyframes jump-jump-1 {
  0%, 70% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-2 {
  0%, 40% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes jump-jump-3 {
  0%, 10% {
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.typing-indicator{
  display:flex;
  gap: 5px;
  height: 20px;
  align-items: center;
  padding:  10px 5px;
  width: 100px;
  background-color: var(--secondary-color-2);
}
.typing-circle{
  width: 5px;
  height: 5px;
  background-color: black;
  animation: blow 1.2s linear infinite both;
  border-radius: 50%;
}
#ts1{
  animation-delay: 0;
 
}
#is2{
  animation-delay: 0.4s;
}
#ts3{
  animation-delay: 0.6s;
}
 @keyframes blow {
    0%,100%{
        transform: translateY(0);
        opacity: 1;
    }
    25%{
      transform: translateY(4px);
      opacity: .9s;
    }
    75%{
      transform: translateY(-4px);
      opacity: .9;
    }
 }
 @layer base {
  :root {
    --background:0 0% 100%;
    --foreground:0 0% 3.9%;
    --card:0 0% 100%;
    --card-foreground:0 0% 3.9%;
    --popover:0 0% 100%;
    --popover-foreground:0 0% 3.9%;
    --primary:0 0% 9%;
    --primary-foreground:0 0% 98%;
    --secondary:0 0% 96.1%;
    --secondary-foreground:0 0% 9%;
    --muted:0 0% 96.1%;
    --muted-foreground:0 0% 45.1%;
    --accent:0 0% 96.1%;
    --accent-foreground:0 0% 9%;
    --destructive:0 84.2% 60.2%;
    --destructive-foreground:0 0% 98%;
    --border:0 0% 89.8%;
    --input:0 0% 89.8%;
    --ring:0 0% 3.9%;
    --chart-1:12 76% 61%;
    --chart-2:173 58% 39%;
    --chart-3:197 37% 24%;
    --chart-4:43 74% 66%;
    --chart-5:27 87% 67%;
    --radius:0.5rem;
  
  }
  .dark {
    --background:0 0% 3.9%;
    --foreground:0 0% 98%;
    --card:0 0% 3.9%;
    --card-foreground:0 0% 98%;
    --popover:0 0% 3.9%;
    --popover-foreground:0 0% 98%;
    --primary:0 0% 98%;
    --primary-foreground:0 0% 9%;
    --secondary:0 0% 14.9%;
    --secondary-foreground:0 0% 98%;
    --muted:0 0% 14.9%;
    --muted-foreground:0 0% 63.9%;
    --accent:0 0% 14.9%;
    --accent-foreground:0 0% 98%;
    --destructive:0 62.8% 30.6%;
    --destructive-foreground:0 0% 98%;
    --border:0 0% 14.9%;
    --input:0 0% 14.9%;
    --ring:0 0% 83.1%;
    --chart-1:220 70% 50%;
    --chart-2:160 60% 45%;
    --chart-3:30 80% 55%;
    --chart-4:280 65% 60%;
    --chart-5:340 75% 55%;
  
  }
  
}
 @layer base {
  * {
    @apply border-border;
  
  }
  body {
    @apply bg-background text-foreground;
  
  }
  
}

.hammenu{
  position: relative;
  width: 30px;
  height: 40px;
}
.hammenu span{
  display: block;
  position: absolute;
  height: 5px;
  width:30px;
  top: 50%;

}
.hammenu>span:nth-of-type(1){
  top:25%;
}
.hammenu>span:nth-of-type(2){
  width: 19px;
  right:0 ;
}
.hammenu>span:nth-of-type(3){
  top: 75%;
}

.padding-d{
  @apply px-[50px] max-md:px-2
}
.hero{
  @apply bg-[var(--black-color)] px-[50px] max-md:px-2 pb-[50px] max-md:pb-2
}
.hero-main{
  @apply text-white py-2 px-3 w-full 
}

.heromaintext{
  @apply text-[80px] max-md:text-[50px] max-md:leading-[80px] font-[700] capitalize mt-[50px]
}
.heromaintext span{
  @apply text-[var(--primary-color)]
}
.heropara{
  word-spacing: 5px;
  @apply text-[20px] font-[400] capitalize max-xl:w-full w-[70%]  text-wrap
}
.hero-gt{
  @apply px-[24px] overflow-hidden py-[20px] mt-[20px] text-white rounded-[12px]  bg-[var(--primary-color)]
}

#suffix{
  @apply text-[var(--primary-color)]
}

.counter{
  @apply text-[28px] font-[var(--semibold)]
}
.herostatics{
  @apply flex gap-[50px] mt-[30px] flex-wrap
}
.heroimg{
  @apply  h-[500px] rounded-[10px] max-md:h-[250px] w-full
}
.searchip{
  @apply flex absolute max-md:translate-x-0 max-lg:left-[50%] max-lg:translate-x-[-50%] max-md:mt-3 max-md:static max-md:w-full max-md:h-[40px] max-md:py-1 bottom-[15px] left-8  gap-2 bg-white w-[600px] py-[10px] h-[70px] items-center px-2 rounded-[10px]
}
.loc-icon{
  @apply text-[var(--primary-color)] text-[50px] max-md:text-[30px]
}
.searchip > .ip {
   all: unset;
   @apply outline-none max-md:placeholder:text-[16px] text-black text-[20px] w-full border-none focus:outline-none placeholder:text-[20px] placeholder:font-[400]
}
.trustedimgs{
  @apply w-[138px] h-[40px] object-contain grayscale max-lg:w-[100px]
}
.popularhead{
  @apply font-[var(--extrabold)] text-[60px] max-md:text-[25px]
}
.separator{
  @apply w-full h-[1px] bg-[var(--black-color)] my-3 opacity-[40%]
}
#rightarrow{
  animation: side 2s ease-in  infinite;
}
@keyframes side{
  0%,100%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(10px);
  }
}